.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

/* ===== MEDIA QUERIES ===== */

/* Orientation */
@media only screen and (orientation: landscape) {
    #box1 {
      background-color: lightblue;
    }
  }
  
  @media only screen and (orientation: portrait) {
    #box1 {
      background-color: pink;
    }
  }
  