* {
  box-sizing: border-box;
}

.boxes {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box1 {
  background-color: green;
  transition-property: background-color;
  transition-duration: 2s;
}

#box1:hover {
  background-color: lightskyblue;
}

#box2 {
  background-color: yellow;
  transition-property: font-size;
  transition-duration: 2s;
}

#box2:hover {
  font-size: 100px;
}

#box3 {
  background-color: pink;
  transition-property: width, height;
  transition-duration: 4s;
}

#box3:hover {
  width: 100px;
  height: 100px;
}

#box4 {
  background-color: blue;
  transition-duration: 0.6s;
}

#box4:hover {
  transform: translateX(100px);
}

#box5 {
  background-color: red;
  transition-duration: 2s;
}

#box5:hover {
  transform: rotate(360deg);
}

#box6 {
  color: black;
  background-color: white;
  border: 10px solid;
  border-color: #4284f4;
  /* transition-property: color background-color border-color; */
  transition-duration: 5s;
}

#box6:hover {
  color: white;
  transform: rotate(360deg);
  font-size: 100px;
  background-color: black;
  border-color: #ffab40;
}

#box7 {
  color: black;
  background-color: purple;
  border-color: #4284f4;
  /* transition-property: color background-color border-color; */
  /* transition-duration: 3s; */
  transition: width 2s, background-color 2s ease-in-out 1s;
}

#box7:hover {
  background-color: lightslategray;
  width: 300px;
}